<h1>Users Index</h1>
<h2>Users List</h2>

<% @users.each do |user| %>
  <div class="user_index">
    <%= link_to user do %>
    <h2><%= user.name %></h2>
    <% end %>
    <p>Number of posts: <%= user.posts.count %></p>
  </div>
<% end %>
