header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #161010;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  height: 5rem;
}

header a {
  color: #fff;
}
